<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>MRP</th>
      <th>Quantity</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart">
      <td> {{item.product_name}} </td>
      <td> {{item.sell_price}} </td>
      <td> <input  class="form-control" style="width:80px" min="0" step="1" [value]="item.quantity" [(ngModel)]="item.quantity" type="number" ></td>
      <td align="right"> {{item.sell_price * item.quantity}} </td>
    </tr>
    <tr>
      <td colspan="4" align="right">
        Total : {{ total }}
      </td>
    </tr>
  </tbody>
</table>
<button  mat-raised-button class="w-100" color="primary">Complete this Order</button>
